<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let company of companies">
    <ion-card-header>
      <ion-card-title>{{company.company}}</ion-card-title>
      <ion-card-subtitle>{{fullAddress(company.id)}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <a *ngIf="company.phone" (click)="call(company.phone)">{{company.phone}}</a><br>
      <a *ngIf="company.email" (click)="email(company.email)">{{company.email}}</a>
    </ion-card-content>

    <ion-button expand="block" routerLink="/map/{{company.id}}" routerDirection="root">
      Voir sur la carte
    </ion-button>
  </ion-card>

</ion-content>
