<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchText" (ionChange)="onSearch()" placeholder="Rechercher"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="!searching">
    <ion-item *ngIf="searchResults.length === 0">
      <ion-label>Aucun résultat</ion-label>
    </ion-item>
    <ion-item *ngFor="let result of searchResults" (click)="selectResult(result.id)">
      <ion-label>{{result.company}}</ion-label>
    </ion-item>
  </ion-list>
  <div id="map_canvas" [hidden]="searching"></div>
  <!-- <ion-button ion-button (click)="onButtonClick()" [hidden]="searching">Demo</ion-button> -->
</ion-content>
