<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchText" (ionChange)="onSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="!searching">
    <ion-item *ngFor="let result of searchResults">
      <ion-label (click)="selectResult(result.id)">{{result.company}}</ion-label>
    </ion-item>
  </ion-list>
  <div id="map_canvas" [hidden]="searching"></div>
  <ion-button ion-button (click)="onButtonClick()" [hidden]="searching">Demo</ion-button>
</ion-content>
